@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@1,700&family=Cinzel:wght@500&family=Josefin+Sans:ital,wght@1,100&family=Merriweather:wght@300&family=Mochiy+Pop+P+One&family=Poppins:ital,wght@0,600;0,700;1,400;1,800&family=Righteous&family=Roboto+Slab:wght@500;600;700&family=Trispace:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
